* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body {
    font-family: Arial, sans-serif;
}




.black-friday-banner {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.black-friday-banner{
    color: var(--secondary-color);
}

.black-friday-banner label {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.black-friday-banner label:hover {
    text-decoration: underline;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 10; 
}


.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    text-align: center;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.modal-details h2 {
    margin-bottom: 15px;
    font-size: 20px;
    color: black;
}

.modal-details a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 0 15px;
    border-bottom: 2px solid transparent; 
    transition: border-color 0.3s ease-in-out;
}

.modal-details a:hover {
    border-bottom: 2px solid black;
}

.modal-toggle {
    display: none;
}

.modal-toggle:checked ~ .modal {
    display: flex;
}

.brand-icons {
    display: inline-flex;
    gap: 10px;
}
header {
    width: 100%;
    background-color: #f4f4f4;
}

nav ul li a {
    text-decoration: none;
    color: black;
    position: relative;
    gap: 20px;
}

nav ul li a:hover::after {
    width: 100%;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: black;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease-in-out;
}

.middle-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: white;
    gap: 50px;
}

.middle-header .logo img {
    width: 100px;
    height: auto;
}

.middle-header .logo {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.middle-header nav {
    flex: 2;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}

.middle-header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.middle-header .search-cart {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.middle-header .search-cart input {
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.search-cart {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.search-cart input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    flex: 1; 
}

.profile-icon {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 50px;
    height: 50px; 
    border-radius: 50%; 
    background-color: white; 
    
}

.profile-icon i {
    font-size: 24px; 
    color: black; 
    transition: transform 0.2s ease-in-out; 
    cursor: pointer; 
}
.profile-icon i:hover {
    transform: scale(1.1); 
}



#adidas {
    width: 40px; 
    height: 40px;
    margin: 0; 
}


.cover {
    width: 55px; 
    height: 32px;
    overflow: hidden;
    position: relative;
}


.shape {
    width: 12px; 
    height: 50px;
    background: #111;
    transform: rotate(329deg);
    position: absolute;
    opacity: 0;
    animation-fill-mode: forwards;
    visibility: hidden;
}

.shape.s1 {
    top: 25px; 
    left: 13px;
    animation: growShape 1s ease-in-out 0s forwards;
    visibility: visible;
    opacity: 1;
}

.shape.s2 {
    top: 15px;
    left: 25px;
    animation: growShape 1s ease-in-out 1.5s forwards;
    visibility: visible;
}

.shape.s3 {
    top: 5px;
    left: 50px;
    transform-origin: bottom;
    animation: growShape 2s ease-in-out 2s forwards;
    visibility: visible;
}


@keyframes growShape {
    0% {
        transform: scaleY(0) rotate(329deg);
        opacity: 0;
        visibility: visible;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scaleY(1) rotate(329deg);
        opacity: 1;
        visibility: visible;
    }
}


nav ul {
    list-style: none;
    display: flex;
    gap: 20px; 
    padding: 0;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
}




/* Hero Section */
.hero-section {
    position: relative;
    width: 100%;
    height: 80vh; 
    overflow: hidden;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}


.hero-content {
    position: absolute;
    bottom: 20px; 
    left: 20px; 
    background-color: white; 
    color: black; 
    padding: 20px; 
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    max-width: 400px; 
}

.hero-content h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1rem;
    line-height: 1.5;
}


.gift-section {
    background-color: white;
    padding: 50px 20px;
    text-align: center;
}

.gift-content h2 {
    font-size: 3.5rem;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}

.gift-button {
    display: inline-block;
    padding: 10px 30px;
    border: 2px solid black;
    background-color: white;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.gift-button a {
    text-decoration: none;
    color: black;
}

.gift-button:hover {
    background-color: black;
    color: white;
}

.gift-button:hover a {
    color: white;
}



/* Image Gallery Section */
.image-gallery-section {
    background-color: white;
    padding: 30px 20px;
}

.image-gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.image-card {
    flex: 1;
    max-width: 600px; 
    overflow: hidden;
    text-align: center;
    border-radius: 15px; 
}

.image-card img {
    width: 100%; 
    height: 450px; 
    object-fit: cover; 
    border-radius: 15px; 
    transition: transform 0.3s ease-in-out; 
}

.image-card a {
    text-decoration: none;
    color: black;
}

.image-card img:hover {
    transform: scale(1.05); 
}

.image-description {
    margin-top: 15px;
}

.image-description h3 {
    font-size: 1.5rem; 
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
}

.shop-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    border-bottom: 1px solid black;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.shop-link:hover {
    color: gray;
    border-color: gray;
}

/* Carousel Section */
.carousel-section {
    background-color: white;
    padding: 30px 20px;
}

.carousel-container {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    display: flex;
    justify-content: start;
    gap: 10px;
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
    scrollbar-width: thin; 
}

.carousel-slide {
    display: flex;
    gap: 20px;
}

.carousel-card {
    flex: 0 0 300px; 
    scroll-snap-align: start;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    background-color: #f4f4f4; 
}

.carousel-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.carousel-text {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: white;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Scrollbar Styling */
.carousel-container::-webkit-scrollbar {
    height: 8px; 
}

.carousel-container::-webkit-scrollbar-thumb {
    background: #ccc; 
    border-radius: 10px;
}

.carousel-container::-webkit-scrollbar-track {
    background: #f4f4f4; 
}



/* Footer Section */
.footer-section {
    background-color: #111; 
    color: #fff;
    padding: 40px 20px;
    position: relative;
    overflow: hidden; 
}

.footer-container {
    display: flex; 
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; 
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

.footer-column {
    flex: 1;
    min-width: 250px; 
    text-align: left;
}

.footer-column h4 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    font-weight: bold;
    color: #f4f4f4;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}



.footer-column ul li {
    margin-bottom: 10px;
    font-size: 0.9rem;
    color: #ccc;
}

.footer-column ul li a {
    text-decoration: none;
    color: #ccc;
    transition: color 0.3s ease;
}

.footer-column ul li a:hover {
    color: #fff;
}

/* Footer Bottom */
.footer-bottom {
    margin-top: 20px;
    text-align: center;
    border-top: 1px solid #333;
    padding-top: 20px;
    font-size: 0.8rem;
    color: #aaa;
}

.footer-bottom p {
    margin: 0;
}

/* Animation Section */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto; 
    padding: 40px 0; 
    position: relative;
}

.logo1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative; 
}

.logo1 div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stripe {
    height: 50px;
    width: 70px;
    background-color: white;
    transform: skewY(10deg);
}

.stripe1 {
    transform: rotate(70deg);
    position: absolute;
    margin-left: -43px;
    margin-top: 14px;
    border-radius: 100% 0;
    animation-name: opacity;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}

.stripe2 {
    transform: rotate(125deg);
    border-radius: 100% 0;
    animation-name: down;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}

.stripe3 {
    transform: rotate(-70deg);
    position: absolute;
    margin-left: 40px;
    margin-top: 14px;
    border-radius: 0 100%;
    animation-name: opacity;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}

.leaf {
    position: absolute;
    width: 150px;
    height: 8px;
    background-color: #111;
}

.leaf1 {
    margin-top: 10px;
    animation-name: opacity;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}

.leaf2 {
    margin-top: 20px;
    animation-name: opacity;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}

.leaf3 {
    margin-top: 30px;
    animation-name: opacity;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

/* ANIMATION */
@keyframes opacity {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes down {
    0% {
        top: 0;
    }
    25% {
        top: 10%;
    }
    50% {
        top: 20%;
    }
    75% {
        top: 30%;
    }
    100% {
        top: 0;
    }
}

#backToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    color: black;
    width: 50px;
    height: 50px;
    border: 2px solid black; 
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s; 
    z-index: 1000;
}

#backToTopBtn:hover {
    background-color: black; 
    color: white; 
    cursor: pointer;
}

.menu-toggle,
.mobile-menu {
    display: none; 
}




@media (max-width: 577px) {
   
    .black-friday-banner {
        display: none;
    }

    
    .search-cart,
    nav {
        display: none !important;
    }

    
    .menu-toggle {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
        background-color: black;
        color: white;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        z-index: 1002;
        cursor: pointer;
    }

    
    .mobile-menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #111;
        color: white;
        z-index: 1001;
        overflow-y: auto;
        padding: 50px 20px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

  
    #menu-toggle:checked ~ .mobile-menu {
        display: flex;
    }

    
    .mobile-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .mobile-menu ul li {
        margin-bottom: 30px; 
        text-align: left;
    }

    .mobile-menu ul li a {
        color: white; 
        text-decoration: none;
        font-size: 1.8rem; 
    }

    .mobile-menu ul li a:hover {
        color: #ddd; 
    }

    
    .hero-content {
        bottom: 10px; 
        left: 10px;
        padding: 15px; 
        max-width: 90%; 
    }

    .hero-content h1 {
        font-size: 1.5rem; 
    }

    .hero-content p {
        font-size: 0.9rem; 
    }

    
    .image-gallery {
        flex-direction: column;
        align-items: center; 
    }

    .image-card {
        max-width: 90%; 
        margin-bottom: 20px; 
    }

    .image-card img {
        border-radius: 10px; 
    }

    
    .search-cart {
        order: 2; 
        width: 100%; 
        justify-content: flex-start;
    }

    .profile-icon {
        order: 1; 
    }

    .menu-toggle {
        display: block; 
        order: 0;
    }
}








